version: "3.9"

services:
  db:
    image: postgres:17-alpine
    container_name: pokegres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ./pg_password.txt
    volumes:
      - /pokegres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
